
div.olMap {
	z-index: 0;
    padding: 0px!important;
    margin: 0px!important;
    cursor: default;

	background-color: #F0F0F0;
	float: left;
	width:450px;
	height:440px;
	border: 1px solid #777;
}

.initmap {
	background-image: url('../../geoviewer/images/ajax-loader.gif');
	background-repeat:no-repeat;
	background-position: center center;
	background-color: #ddd;	
}

.ajaxLoading {
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	height:20px;
	padding:2px;
	position:absolute;
	right:0;
	top:171px;
	width:190px;
}

.ajaxLoading_off {
	z-index:-100;
	display: none;
}

.ajaxLoading_on {
	z-index:100;
}

.ajaxLoading img {
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}
